<div class="page-container" >
    <metabolomics-page-header ></metabolomics-page-header>
    <div class="page-content">
        <h2 class=" mt-20px dark-blue">{{'pdfpages.cortisintroductionpage.title' | translate}}</h2>
        <h4 class=" mt-3px light-blue subtitle">{{'pdfpages.cortisintroductionpage.subtitle' | translate}}</h4>
        <div class="pt-20px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >{{'pdfpages.cortisintroductionpage.sectiontitle1' | translate}}</h4>
            </div>
        </div>
        <p class="my-15px">
            {{'pdfpages.cortisintroductionpage.text1' | translate}}
        </p>
        <div class="pt-20px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >{{'pdfpages.cortisintroductionpage.sectiontitle2' | translate}}</h4>
            </div>
        </div>
        <p class="mt-15px">
            {{'pdfpages.cortisintroductionpage.text2' | translate}}
        </p>
        <div class="pt-20px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >{{'pdfpages.cortisintroductionpage.sectiontitle3' | translate}}</h4>
            </div>
        </div>
        <p class="mt-15px">
            {{'pdfpages.cortisintroductionpage.text3' | translate}}
        </p>
    </div>
    <metabolomics-page-footer [page]="page"></metabolomics-page-footer>
</div>
