<metabolomics-presentation-page></metabolomics-presentation-page>
<metabolomics-index-page [customer]="customer"></metabolomics-index-page>
<metabolomics-table-page [pageId]="0" [customer]="customer"></metabolomics-table-page>
<metabolomics-table-page [pageId]="1" [customer]="customer"></metabolomics-table-page>
<metabolomics-table-page [pageId]="2" [customer]="customer"></metabolomics-table-page>
<metabolomics-table-page [pageId]="3" [customer]="customer"></metabolomics-table-page>
<metabolomics-table-page [pageId]="4" [customer]="customer"></metabolomics-table-page>
<metabolomics-profile-page [profile]="profile" [customer]="customer"></metabolomics-profile-page>
<metabolomics-explanation-page [profile]="profile" [customer]="customer"></metabolomics-explanation-page>