
@if(fileType === fileTypeEnum.METABO && tenant === 'valsambro') {
    <presentation-page></presentation-page>
    <index-page [customer]="customer"></index-page>
    <metabolomics-table-page [pageId]="0" [customer]="customer" [page]="'03'"></metabolomics-table-page>
    <metabolomics-image-page [customer]="customer" [title]="'Ciclo dell’acido citrico e dell’energia cellulare'" [page]="'04'">
        <img class="image-container" src="{{'assets/img/ciclo_energia_cellulare_' +  tenant + '.svg'}}" alt="">
    </metabolomics-image-page>
    <metabolomics-table-page [pageId]="1" [customer]="customer" [page]="'05'"></metabolomics-table-page>
    <metabolomics-image-page [customer]="customer" [title]="'Pathway dei Neurotrasmettitori'" [page]="'06'">
        <img class="image-container" src="{{'assets/img/pathway_neurotrasmettitori_' + tenant + '.svg'}}" alt="">
    </metabolomics-image-page>
    <metabolomics-table-page [pageId]="2" [customer]="customer" [page]="'07'"></metabolomics-table-page>
    <metabolomics-image-page [customer]="customer" [title]="'Metaboliti intestinali e implicazioni sistemiche'" [page]="'08'">
        <img class="image-container" src="{{'assets/img/metaboliti_intestinali_' + tenant + '.svg'}}" alt="" >
    </metabolomics-image-page>
    <metabolomics-table-page [pageId]="3" [customer]="customer" [page]="'09'"></metabolomics-table-page>
    <metabolomics-image-page [customer]="customer" [title]="'Ruolo centrale del 3-HMG CoA nella risposta glicemica, digiuno e statine'" [page]="'10'">
        <img class="image-container glicemia" src="{{'assets/img/risposta_glicemica_' + tenant + '.svg'}}" alt="">
    </metabolomics-image-page>
    <metabolomics-table-page [pageId]="4" [customer]="customer" [page]="'11'"></metabolomics-table-page>
    <metabolomics-image-page [customer]="customer" [title]="'Pathway della Metilazione e della Detossificazione'" [page]="'12'">
        <img class="image-container" src="{{'assets/img/pathway_metilazione_' + tenant + '.svg'}}" alt="">
    </metabolomics-image-page>
    <metabolomics-profile-page [profile]="profile" [customer]="customer" [page]="'13'"></metabolomics-profile-page>
    <metabolomics-explanation-page [profile]="profile" [customer]="customer" [basicIndex]="14"></metabolomics-explanation-page>
} 
@if(fileType === fileTypeEnum.METABO && tenant === 'homica') {
    <presentation-page></presentation-page>
    <index-page [customer]="customer"></index-page>
    <metabolomics-table-page [pageId]="0" [customer]="customer" [page]="'03'"></metabolomics-table-page>
    <metabolomics-image-page [customer]="customer" [title]="'Ciclo dell’acido citrico e dell’energia cellulare'" [page]="'04'">
        <img class="image-container" src="{{'assets/img/ciclo_energia_cellulare_' +  tenant + '.svg'}}" alt="">
    </metabolomics-image-page>
    <metabolomics-table-page [pageId]="1" [customer]="customer" [page]="'05'"></metabolomics-table-page>
    <metabolomics-image-page [customer]="customer" [title]="'Pathway dei Neurotrasmettitori'" [page]="'06'">
        <img class="image-container" src="{{'assets/img/pathway_neurotrasmettitori_' + tenant + '.svg'}}" alt="">
    </metabolomics-image-page>
    <metabolomics-table-page [pageId]="2" [customer]="customer" [page]="'07'"></metabolomics-table-page>
    <metabolomics-image-page [customer]="customer" [title]="'Metaboliti intestinali e implicazioni sistemiche'" [page]="'08'">
        <img class="image-container" src="{{'assets/img/metaboliti_intestinali_' + tenant + '.svg'}}" alt="">
    </metabolomics-image-page>
    <metabolomics-table-page [pageId]="3" [customer]="customer" [page]="'09'"></metabolomics-table-page>
    <metabolomics-image-page [customer]="customer" [title]="'Ruolo centrale del 3-HMG CoA nella risposta glicemica, digiuno e statine'" [page]="'10'">
        <img class="image-container glicemia" src="{{'assets/img/risposta_glicemica_' + tenant + '.svg'}}" alt="">
    </metabolomics-image-page>
    <metabolomics-table-page [pageId]="4" [customer]="customer" [page]="'11'"></metabolomics-table-page>
    <metabolomics-image-page [customer]="customer" [title]="'Pathway della Metilazione e della Detossificazione'" [page]="'12'">
        <img class="image-container" src="{{'assets/img/pathway_metilazione_' + tenant + '.svg'}}" alt="">
    </metabolomics-image-page>
    <metabolomics-profile-page [profile]="profile" [customer]="customer" [page]="'13'"></metabolomics-profile-page>
    <metabolomics-explanation-page [profile]="profile" [customer]="customer"></metabolomics-explanation-page>
} 
@if(fileType === fileTypeEnum.ISTFEC) {
    <presentation-page></presentation-page>
    <index-page [customer]="customer"></index-page>
    <istfec-introduction-page [page]="'03'"></istfec-introduction-page>
    <istfec-explanation-page [page]="'04'"></istfec-explanation-page>
    <metabolomics-image-page [customer]="customer" [title]="'Effetti biologici dell’istamina e recettori coinvolti'" [page]="'05'">
        <img class="image-container pt-10px" src="{{'assets/img/effetti_biologici_istamina.svg'}}" alt="">
    </metabolomics-image-page>
    <istfec-result-page [page]="'06'"></istfec-result-page>
    <ending-page></ending-page>
}

@if(fileType === fileTypeEnum.GUTSYS) {
    <presentation-page></presentation-page>
    <index-page [customer]="customer" [type]="customer?.type"></index-page>
    <gutsys-introduction-page [page]="'03'"></gutsys-introduction-page>
    <metabolomics-image-page [customer]="customer" [title]="'Metaboliti intestinali e implicazioni sistemiche'" [page]="'04'">
        <img class="image-container" src="{{'assets/img/metaboliti_intestinali_valsambro.svg'}}" alt="" >
    </metabolomics-image-page>
    <gutsys-caracteristic-page [page]="'05'"></gutsys-caracteristic-page>
    <gutsys-table-page [pageId]="0" [page]="'06'"></gutsys-table-page>
    <gutsys-table-page [pageId]="1" [page]="'07'"></gutsys-table-page>
    <gutsys-table-page [pageId]="2" [page]="'08'"></gutsys-table-page>
    <gutsys-table-page [pageId]="3" [page]="'09'"></gutsys-table-page>
    <gutsys-table-page [pageId]="4" [page]="'10'"></gutsys-table-page>
    <gutsys-parasite-page [page]="'11'" [ngClass]="{'hide': customer?.type == 1}"></gutsys-parasite-page>
    <gutsys-aroma-page [page]="customer?.type == 2 || customer?.type == 3 ? '12' : '11'"></gutsys-aroma-page>
    <gutsys-fungus-page [page]="'13'" [ngClass]="{'hide': customer?.type == 1|| customer?.type == 2}"></gutsys-fungus-page>
    <gutsys-indication-page [page]="customer?.type != 1 ? customer?.type == 3 ? '14' : '13' : '12'" [date]="customer?.refDate"></gutsys-indication-page>
    <ending-page></ending-page>
}

@if(fileType === fileTypeEnum.VLSCFA) {
    <presentation-page></presentation-page>
    <index-page [customer]="customer" [type]="customer?.type"></index-page>
    <vlscfa-intro-1-page [page]="'03'"></vlscfa-intro-1-page>
    <vlscfa-intro-2-page [page]="'04'"></vlscfa-intro-2-page>
    <vlscfa-table-page [pageId]="0" [customer]="customer" [page]="'05'"></vlscfa-table-page>
    <vlscfa-table-page [pageId]="1" [customer]="customer" [page]="'06'"></vlscfa-table-page>
    <metabolomics-image-page [customer]="customer" [title]="'Metaboliti intestinali e implicazioni sistemiche'" [page]="'07'">
        <img class="image-container" src="{{'assets/img/vlscfa_graph.svg'}}" alt="" >
    </metabolomics-image-page>
    <metabolomics-profile-page [profile]="profile" [customer]="customer" [page]="'08'" [reportType]="'vlscfa'"></metabolomics-profile-page>
    <metabolomics-explanation-page [profile]="profile" [customer]="customer" [basicIndex]="9"></metabolomics-explanation-page>
}
