<metabolomics-presentation-page></metabolomics-presentation-page>
<metabolomics-index-page [customer]="customer"></metabolomics-index-page>
@if(fileType === fileTypeEnum.METABO) {
    <metabolomics-table-page [pageId]="0" [customer]="customer"></metabolomics-table-page>
<metabolomics-image-page [customer]="customer" [title]="'Ciclo dell’acido citrico e dell’energia cellulare'">
    <img class="image-container" src="{{'assets/img/ciclo_energia_cellulare_' +  tenant + '.svg'}}" alt="">
</metabolomics-image-page>
<metabolomics-table-page [pageId]="1" [customer]="customer"></metabolomics-table-page>
<metabolomics-image-page [customer]="customer" [title]="'Pathway dei Neurotrasmettitori'">
    <img class="image-container" src="{{'assets/img/pathway_neurotrasmettitori_' + tenant + '.svg'}}" alt="">
</metabolomics-image-page>
<metabolomics-table-page [pageId]="2" [customer]="customer"></metabolomics-table-page>
<metabolomics-image-page [customer]="customer" [title]="'Metaboliti intestinali e implicazioni sistemiche'">
    <img class="image-container" src="{{'assets/img/metaboliti_intestinali_' + tenant + '.svg'}}" alt="">
</metabolomics-image-page>
<metabolomics-table-page [pageId]="3" [customer]="customer"></metabolomics-table-page>
<metabolomics-image-page [customer]="customer" [title]="'Ruolo centrale del 3-HMG CoA nella risposta glicemica, digiuno e statine'">
    <img class="image-container glicemia" src="{{'assets/img/risposta_glicemica_' + tenant + '.svg'}}" alt="">
</metabolomics-image-page>
<metabolomics-table-page [pageId]="4" [customer]="customer"></metabolomics-table-page>
<metabolomics-image-page [customer]="customer" [title]="'Pathway della Metilazione e della Detossificazione'">
    <img class="image-container" src="{{'assets/img/pathway_metilazione_' + tenant + '.svg'}}" alt="">
</metabolomics-image-page>
<metabolomics-profile-page [profile]="profile" [customer]="customer"></metabolomics-profile-page>
<metabolomics-explanation-page [profile]="profile" [customer]="customer"></metabolomics-explanation-page>
} 
@if(fileType === fileTypeEnum.ISTFEC) {
   <istfec-introduction-page></istfec-introduction-page>
   <istfec-explanation-page></istfec-explanation-page>
   <metabolomics-image-page [customer]="customer" [title]="'Effetti biologici dell’istamina e recettori coinvolti'">
        <img class="image-container pt-10px" src="{{'assets/img/effetti_biologici_istamina.svg'}}" alt="">
    </metabolomics-image-page>
    <istfec-result-page></istfec-result-page>
   <metabolomics-ending-page></metabolomics-ending-page>
}
