<div class="page-container" [ngClass]="{'homica': tenant === TenantType.HOMICA}">
    <metabolomics-page-header ></metabolomics-page-header>
    <div class="page-content">
        <h2 class=" mt-20px" [ngClass]="{'dark-purple': tenant === TenantType.HOMICA, 'dark-blue':tenant === TenantType.VALSAMBRO}">{{ 'pdfpages.indexpage.title' | translate }}</h2>
        @for(section of indexesArray; track section){
            <div class="w-100 flex justify-between mt-20px">
                <h4 class="bold " [ngClass]="{'light-purple': tenant === TenantType.HOMICA, 'light-blue':tenant === TenantType.VALSAMBRO}">{{ section.sectionTitle | translate }}</h4>
                <h6>pag {{section.page}}</h6>           
            </div>
            <hr class="mt-5px" [ngClass]="{'homica': tenant === TenantType.HOMICA}">
            <div class="w-100 flex col align-end">
                @for(index of section.indexes; track index){
                    <div class="w-80 flex justify-between mt-20px">
                        <h4>{{ index.title |  translate }}</h4>
                        <h6>pag {{index.page}}</h6>   
                    </div> 
                    <hr class="w-80 mt-5px" [ngClass]="{'homica': tenant === TenantType.HOMICA}"> 
                }
            </div>
        }
        @if((customer?.fiscalCode || customer?.name) && tenant === TenantType.VALSAMBRO){
            <div class="cf-container flex align-center justify-between px-15px" [ngClass]="{'mt-100px': fileType === 'METABO', 'mt-200px': fileType === 'ISTFEC' }">
                <h5 class="white">{{customer?.name}} </h5>
                <h5 class="white">{{ 'pdfpages.indexpage.fiscalcode' | translate }} {{customer?.fiscalCode | uppercase}} </h5>
            </div>
        }
    </div>
    <metabolomics-page-footer></metabolomics-page-footer>
</div>
