<div class="page-container">
    <metabolomics-page-header [customer]="customer"></metabolomics-page-header>
    <div class="page-content">
        <h2 class="dark-blue mt-20px">{{ 'pdfpages.indexpage.title' | translate }}</h2>
        <div class="w-100 flex justify-between mt-20px">
            <h4 class="bold light-blue">{{ 'pdfpages.indexpage.subtitle1' | translate }}</h4>
            <h6>pag 03</h6>           
        </div>
        <hr class="mt-5px">
        <div class="w-100 flex col align-end">
            <div class="w-80 flex justify-between mt-20px">
                <h4>{{ 'pdfpages.indexpage.index1' | translate }}</h4>
                <h6>pag 03</h6>   
            </div> 
            <hr class="w-80 mt-5px"> 
            <div class="w-80 flex justify-between mt-20px">
                <h4>{{ 'pdfpages.indexpage.index2' | translate }}</h4>
                <h6>pag 05</h6>   
            </div> 
            <hr class="w-80 mt-5px">  
            <div class="w-80 flex justify-between mt-20px">
                <h4>{{ 'pdfpages.indexpage.index3' | translate }}</h4>
                <h6>pag 07</h6>   
            </div> 
            <hr class="w-80 mt-5px">    
            <div class="w-80 flex justify-between mt-20px">
                <h4>{{ 'pdfpages.indexpage.index4' | translate }}</h4>
                <h6>pag 09</h6>   
            </div> 
            <hr class="w-80 mt-5px">
            <div class="w-80 flex justify-between mt-20px">
                <h4>{{ 'pdfpages.indexpage.index5' | translate }}</h4>
                <h6>pag 09</h6>   
            </div> 
            <hr class="w-80 mt-5px">
            <div class="w-80 flex justify-between mt-20px">
                <h4>{{ 'pdfpages.indexpage.index6' | translate }}</h4>
                <h6>pag 11</h6>   
            </div> 
            <hr class="w-80 mt-5px">
            <div class="w-80 flex justify-between mt-20px">
                <h4>{{ 'pdfpages.indexpage.index7' | translate }}</h4>
                <h6>pag 11</h6>   
            </div> 
            <hr class="w-80 mt-5px">
        </div>
            <div class="w-100 flex justify-between mt-20px">
            <h4 class="bold light-blue">{{ 'pdfpages.indexpage.subtitle2' | translate }}</h4>
            <h6>pag 13</h6>           
        </div>
        <hr class="mt-5px">
        <div class="w-100 flex col align-end">
            <div class="w-80 flex justify-between mt-20px">
                <h4>{{ 'pdfpages.indexpage.index8' | translate }}</h4>
                <h6>pag 13</h6>   
            </div> 
            <hr class="w-80 mt-5px"> 
            <div class="w-80 flex justify-between mt-20px">
                <h4>{{ 'pdfpages.indexpage.index9' | translate }}</h4>
                <h6>pag 14</h6>   
            </div> 
            <hr class="w-80 mt-5px">  
        </div>
        @if(customer?.fiscalCode){
            <div class="cf-container flex align-center px-15px mt-100px">
                <h5 class="white">{{ 'pdfpages.indexpage.fiscalcode' | translate }} {{customer?.fiscalCode}} </h5>
            </div>
        }
    </div>
    <metabolomics-page-footer></metabolomics-page-footer>
</div>
