<div class="page-container" >
    <metabolomics-page-header ></metabolomics-page-header>
    <div class="page-content">
        <h2 class=" mt-20px dark-blue">Interleuchine</h2> 
        <h4 class=" mt-3px light-blue subtitle">Diagnostica di precisione per la modulazione personalizzata dell'infiammazione</h4> 
        <div class="pt-10px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >Cos'è il pannello Interleuchine?</h4>
            </div>
        </div>
        <p class="my-15px">
           Le interleuchine sono proteine di segnalazione prodotte dalle cellule del sistema immunitario. Il loro profilo quantitativo fornisce informazioni preziose sullo stato infiammatorio, sull'attivazione linfocitaria e sull'equilibrio tra risposta pro-infiammatoria e antiinfiammatoria. <br>
           Il pannello Interleuchine di Valsambro è un test di diagnostica di precisione che misura simultaneamente otto biomarcatori infiammatori. L’analisi può essere condotta su saliva o su siero. La saliva spesso viene preferita, essendo in stretto contatto con i tessuti orali e riflettendo lo stato immunitario delle mucose per la valutazione non invasiva dell'infiammazione locale e sistemica.
        </p>
        <div class="pt-10px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >Tecnologia analitica: EIA + qPCR</h4>
            </div>
        </div>
        <p class="my-15px">
            Il test utilizza una sinergia di metodiche per la quantificazione proteica delle citochine: EIA (Enzyme Immunoassay) e qPCR (PCR quantitativa in tempo reale). Questa combinazione garantisce elevata sensibilità, specificità e riproducibilità, riducendo la probabilità di falsi positivi o negativi.  Questa metodica amplifica di oltre 100 volte la precisione nella quantificazione delle interleuchine.

        </p>
        <div class="pt-10px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >Come leggere il referto</h4>
            </div>
        </div>
        <p class="my-15px">
            Per ciascuna citochina sono riportati: il valore misurato in pg/mL e il valore di riferimento (limite superiore della norma). E’ presente, inoltre, una scheda informativa sulla funzione biologica di ogni citochina. <br>
            I valori di riferimento sono calcolati su una popolazione di soggetti sani non fumatori. Il presente referto è un supporto diagnostico e non sostituisce la valutazione clinica dello specialista.
        </p>
    </div>
    <metabolomics-page-footer [page]="page"></metabolomics-page-footer>
</div>
