<div class="page-container">
    <metabolomics-page-header ></metabolomics-page-header>
    <div class="page-content">
        <h4 class="bold mt-20px light-blue" >Antibiogramma</h4>
        <p >L'antibiogramma valuta la sensibilità dei batteri patogeni rilevati ai principali antibiotici disponibili. In questo modo il medico può scegliere il farmaco più efficace per la sua situazione, evitando terapie empiriche che potrebbero fallire o favorire resistenze.</p>
        <div class="table-header mt-10px flex align-center pl-10px">
            <div class="w-35">
                <h5 class="white">Sensibilità</h5>
            </div>
            <div class="w-65">
                <h5 class="white">Descrizione</h5>
            </div>
        </div>
        <div class="flex px-10px py-3px align-center">
            <div class="w-35 flex align-center">
                <h4 class="name light-blue bold">Sensibile</h4>
            </div>
            <div class="w-65">
                <p>Pienamente efficace.</p>
            </div>
        </div>
        <hr>
         <div class="flex px-10px py-3px align-center">
            <div class="w-35 flex align-center">
                <h4 class="name light-blue bold">Medio sensibile</h4>
            </div>
            <div class="w-65">
                <p>Parzialmente efficace.</p>
            </div>
        </div>
        <hr>
         <div class="flex px-10px py-3px align-center">
            <div class="w-35 flex align-center">
                <h4 class="name light-blue bold">Lieve sensibile</h4>
            </div>
            <div class="w-65">
                <p>Efficacia ridotta.</p>
            </div>
        </div>
        <hr>
        <h4 class="bold mt-20px light-blue" >Antimicogramma</h4>
        <p>L'antimicogramma valuta la sensibilità delle specie di Candida rilevate ai principali farmaci antimicotici. Data la crescente resistenza di alcune specie ai trattamenti standard, questa informazione è fondamentale per impostare una terapia efficace.</p>
        <div class="table-header mt-10px flex align-center pl-10px">
            <div class="w-35">
                <h5 class="white">Sensibilità</h5>
            </div>
            <div class="w-65">
                <h5 class="white">Descrizione</h5>
            </div>
        </div>
        <div class="flex px-10px py-3px align-center">
            <div class="w-35 flex align-center">
                <h4 class="name light-blue bold">Sensibile</h4>
            </div>
            <div class="w-65">
                <p>Pienamente efficace.</p>
            </div>
        </div>
        <hr>
         <div class="flex px-10px py-3px align-center">
            <div class="w-35 flex align-center">
                <h4 class="name light-blue bold">Medio sensibile</h4>
            </div>
            <div class="w-65">
                <p>Parzialmente efficace.</p>
            </div>
        </div>
        <hr>
         <div class="flex px-10px py-3px align-center">
            <div class="w-35 flex align-center">
                <h4 class="name light-blue bold">Lieve sensibile</h4>
            </div>
            <div class="w-65">
                <p>Efficacia ridotta.</p>
            </div>
        </div>
        <hr>
                <h4 class="bold mt-20px light-blue" >Aromatogramma</h4>
        <p>L'aromatogramma è un test esclusivo che valuta la sensibilità di batteri e funghi rilevati nei confronti di oli essenziali puri. Si tratta di una metodica innovativa che consente un approccio naturale. Gli oli essenziali testati provengono da piante con riconosciute proprietà antimicrobiche.</p>
        <p class="fs-6px">L'aromatogramma viene eseguito con gli oli essenziali <strong>Aromatoil Bio-logica srl.</strong> Si suggerisce l'uso degli stessi nella terapia per garantire la massima efficacia della metodica. *L'aromatogramma non viene eseguito per Chlamydia trachomatis, Neisseria gonorrhoeae e Trichomonas vaginalis.</p>
        <div class="table-header mt-10px flex align-center pl-10px">
            <div class="w-35">
                <h5 class="white">Sensibilità</h5>
            </div>
            <div class="w-65">
                <h5 class="white">Descrizione</h5>
            </div>
        </div>
        <div class="flex px-10px py-3px align-center">
            <div class="w-35 flex align-center">
                <h4 class="name light-blue bold">Sensibile</h4>
            </div>
            <div class="w-65">
                <p>Pienamente efficace.</p>
            </div>
        </div>
        <hr>
         <div class="flex px-10px py-3px align-center">
            <div class="w-35 flex align-center">
                <h4 class="name light-blue bold">Medio sensibile</h4>
            </div>
            <div class="w-65">
                <p>Parzialmente efficace.</p>
            </div>
        </div>
        <hr>
         <div class="flex px-10px py-3px align-center">
            <div class="w-35 flex align-center">
                <h4 class="name light-blue bold">Lieve sensibile</h4>
            </div>
            <div class="w-65">
                <p>Efficacia ridotta.</p>
            </div>
        </div>
        <hr>
    </div>
    <metabolomics-page-footer [page]="page"></metabolomics-page-footer>
</div>
