<div class="header-container" >
    @if(tenant === TenantType.HOMICA){
        <img src="assets/img/homica_logo.svg" alt="" height="67px" width="95px">
    }@else {
        <img src="assets/img/Logo_Valsambro.svg" alt="" height="67px" width="95px">
    }
    <div class="flex col gap-10px">
        <div class="flex row justify-between gap-20px">
            <div class="flex col w-140px">
                <div class="flex w-100 justify-between">
                    <h5 class="white pb-4px">{{ 'pageheader.acceptation' | translate }}:</h5>
                    <h5 class="white pb-4px">{{ customer?.accNumber }}</h5>
                </div>
                <hr>
            </div>
            <div class="flex col w-140px">
                <div class="flex w-100 justify-between">
                    <h5 class="white pb-4px">{{ 'pageheader.code' | translate }}:</h5>
                    <h5 class="white pb-4px">{{ customer?.orderId }}</h5>
                </div>
                <hr>
            </div>
            @if(tenant === TenantType.VALSAMBRO){    
            <div class="flex col w-140px">
                <div class="flex w-100 justify-between">
                    <h5 class="white pb-4px">Nome:</h5>
                    <h5 class="white pb-4px">{{ name | titlecase}}</h5>
                </div>
                <hr>
            </div>                
            }
        </div>
        <div class="flex row justify-between">
            <div class="flex col w-140px">
                <div class="flex w-100 justify-between">
                    <h5 class="white pb-4px">{{ 'pageheader.accdate' | translate }}:</h5>
                    <h5 class="white pb-4px">{{ customer?.accDate | dateTransform}}</h5>
                </div>
                <hr>
            </div>
            <div class="flex col w-140px">
                <div class="flex w-100 justify-between">
                    <h5 class="white pb-4px">{{ 'pageheader.refdate' | translate }}:</h5>
                    <h5 class="white pb-4px">{{ customer?.refDate | dateTransform }}</h5>
                </div>
                <hr>
            </div>
            @if(tenant === TenantType.VALSAMBRO){
            <div class="flex col w-140px">
                <div class="flex w-100 justify-between">
                    <h5 class="white pb-4px">Cognome:</h5>
                    <h5 class="white pb-4px">{{ surname | titlecase}}</h5>
                </div>
                <hr>
            </div>
            }
        </div>
    </div>
</div>

