<div class="page-container" >
    <metabolomics-page-header ></metabolomics-page-header>
    <div class="page-content">
        <div class="pt-10px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >{{'pdfpages.vlscfaintroductionpage.sectiontitle3' | translate}}</h4>
            </div>
        </div>
        <p class="my-15px">
            {{'pdfpages.vlscfaintroductionpage.text6' | translate}}
        </p>
        <div class="pt-10px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >{{'pdfpages.vlscfaintroductionpage.sectiontitle4' | translate}}</h4>
            </div>
        </div>
        <p class="my-15px">
            {{'pdfpages.vlscfaintroductionpage.text7' | translate}}
        </p>
        <div class="pt-10px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >{{'pdfpages.vlscfaintroductionpage.sectiontitle5' | translate}}</h4>
            </div>
        </div>
        <p class="my-15px">
            {{'pdfpages.vlscfaintroductionpage.text8' | translate}}<br>
            {{'pdfpages.vlscfaintroductionpage.text9' | translate}}
        </p>
    </div>
    <metabolomics-page-footer [page]="page"></metabolomics-page-footer>
</div>
