<div>
    <h6 class="bold mt-15px mb-5px"[ngClass]="{'light-purple': tenant === TenantType.HOMICA, 'light-blue':tenant === TenantType.VALSAMBRO}">{{data?.title | translate}}</h6>
    <div class="table-header flex align-center px-20px mb-1px" [ngClass]="{'homica': tenant === TenantType.HOMICA}">
        <div class="w-25">
            <h5 class="white">{{'pdfpages.metabolomicstable.columns.markers'| translate}} <br> {{'pdfpages.metabolomicstable.columns.markers2'| translate}}</h5>
        </div>
        <div class="w-15">
            <h5 class="white">{{'pdfpages.metabolomicstable.columns.range'| translate}} <br>{{'pdfpages.metabolomicstable.columns.range2'| translate}}</h5>
        </div>
        <div class="w-15">
            <h5 class="white">{{'pdfpages.metabolomicstable.columns.val'| translate}} <br> {{'pdfpages.metabolomicstable.columns.val2'| translate}}</h5>
        </div>
        <div class="w-15">
            <h5 class="white">{{'pdfpages.metabolomicstable.columns.unit'| translate}} <br> {{'pdfpages.metabolomicstable.columns.unit2'| translate}}</h5>
        </div>
        <div class="w-30">
            <h5 class="white">{{'pdfpages.metabolomicstable.columns.pop'| translate}}</h5>
            <h5 class="white">{{typeText |translate}}</h5>
        </div>
    </div>
    <div class="table-body w-100 flex col px-10px">
        @for(row of data.rows; track row.id){
            @if(row.note){
                <div class="note-container flex align-center px-10px" [ngClass]="{'homica': tenant === TenantType.HOMICA}">
                    <h6 class="white note">{{row.note | translate}}</h6>
                </div>
            }
            <div class="table-row flex align-center px-10px py-2px">
                <div class="w-25 flex align-center">
                    <div class="circle row-id mr-5px" [ngClass]="{'homica': tenant === TenantType.HOMICA}">{{row.id}}</div>
                    <h5 [ngClass]="{ 'red bold': row.value < row.yellInf || row.value > row.yellSup }">{{row?.desc | translate}}</h5>
                </div>
                <div class="w-15 flex align-center justify-between">
                    <div class="w-60 flex align-center justify-between">
                        <h5 class="w-30 text-center">{{row.yellInf == 0 ? '   ' : row.yellInf}}</h5>
                        <h5 class="w-10 text-center">{{row.sign}} </h5>
                        <h5 class="w-30 text-center">{{row.yellSup}} </h5>
                    </div>
                </div>
                <div class="w-15 flex align-center">
                    @if(row.value < row.yellInf){
                        <div class="circle red-circle mr-5px">
                            <h5 class="bold white">L</h5>
                        </div>
                    }
                    @if(row.value > row.yellSup){
                        <div class="circle red-circle mr-5px">
                            <h5 class="bold white">H</h5>
                        </div>
                    }
                <h5 [ngClass]="{ 'red bold': row.value < row.yellInf || row.value > row.yellSup }">{{row.value | roundedValue:row.yellSup}}</h5>  
                </div>             
                    @if(row.id == 40 || row.id == 70){
                        <div class="w-15">
                            <h5 class="small">{{'pdfpages.metabolomicstable.creatine_alt'| translate}}</h5>
                            <h5 class="small">{{'pdfpages.metabolomicstable.creatine_cre'| translate}}</h5>
                        </div>
                    }@else if(row.id == 18){
                        <div class="w-15">
                            <h5 class="small"></h5>
                        </div>
                    }@else if(row.id == 21 || row.id == 22 || row.id == 23 || row.id == 28){
                        <div class="w-15">
                            <h5 class="small">{{'pdfpages.metabolomicstable.creatine_alt_2'| translate}}</h5>
                        </div>
                    }@else {
                        <div class="w-15">
                            <h5 class="small">{{'pdfpages.metabolomicstable.creatine'| translate}}</h5>
                        </div>
                    }
                <div class="w-30">
                    <metabolomics-bar [data]="row"></metabolomics-bar>
                </div>
            </div>
            <hr class="w-100" [ngClass]="{'homica': tenant === TenantType.HOMICA}">
        }
    </div>
</div>
