<div class="page-container">
    <metabolomics-page-header ></metabolomics-page-header>
    <div class="page-content" >
        <h2 class="mt-10px dark-blue" >{{'pdfpages.vlscfatable.title' | translate}}</h2>
        <h4 class="mt-5px light-blue">{{'pdfpages.vlscfatable.subtitle' | translate}}</h4>
        @for(table of tables; track table.groupId){
            <div class="section-header flex col justify-center align-end mt-20px px-40px" >
                <h4 class="white">{{table.sectionTitle | translate}}</h4>
            @if(!!table.sectionTitle2){
                <h4 class="white">{{table.sectionTitle2 | translate}}</h4>
            }
            </div>
            <vlscfa-table [data]="table" [type]="customer?.type"></vlscfa-table>       
        }
        @if(pageId === 1){  
            <div class="flex col mt-25px pos-abs">
                <h6 >Metodologia: GC-MS</h6>
                <h6>*Metodologia: Spettrofotometria UV-Vis</h6>
                <h6 class="mt-15px">Referto sottoscritto con firma digitale ai sensi degli artt. 20,21 n.2, 23 e 24 del d.Lgs. N. 82 del 7 marzo 2005 e successive modifiche</h6>
                <h6 class="mt-15px">Firmato digitalmente dal dott Alberto Santini il: {{customer?.refDate | dateTransform}}</h6>
            </div>        
        }
    </div>
    <metabolomics-page-footer [page]="page"></metabolomics-page-footer>
</div>
