<div class="page-container">
    <metabolomics-page-header ></metabolomics-page-header>
    <div class="page-content">
        <h2 class="mt-10px">{{"pdfpages.profilepage.title" | translate}}</h2>
        @if(reportType == 'vlscfa'){
            <h4 class="mt-5px light-blue">{{"pdfpages.profilepage.subtitlevlscfa" | translate}}</h4>
        }@else {
            <h4 class="mt-5px">{{"pdfpages.profilepage.subtitle" | translate}}</h4>
        }
        <div class="section-header flex justify-end align-center mt-20px px-40px" [ngClass]="{'hide': hideHeaders}">
            <h4 class="white">{{"pdfpages.profilepage.sectiontitle1" | translate}}</h4>
        </div>
        <div class="flex align-center mt-20px">
            @if(reportType == 'vlscfa'){
                <h5>{{"pdfpages.profilepage.textvlscfa" | translate}}</h5>
            }@else {
                <h5>{{"pdfpages.profilepage.text" | translate}}</h5>
            }
        </div>
        <div class="section-header flex justify-end align-center mt-20px px-40px" [ngClass]="{'hide': hideHeaders}">
            <h4 class="white">{{"pdfpages.profilepage.sectiontitle2" | translate}}</h4>
        </div>
        <div class="flex justify-between mt-20px">
            <div class="metabolites-table flex col align-center" [ngClass]="{'long': hideHeaders }">
                <div class="table-header flex justify-center align-center mb-20px">
                    <h6 class="white bold">{{"pdfpages.profilepage.hight" | translate}}</h6>
                </div>
                @for(hight of profile?.hight; track hight.id){
                    <h6 class="bold mb-5px" [ngClass]="{'small-text mb-2px': smallText, 'mini-text': hideHeaders }">
                        {{hight.id}}. {{hight.name |translate }}
                    </h6>
                }
            </div>
            <div class="metabolites-table flex col align-center" [ngClass]="{'long': hideHeaders}">
                <div class="table-header flex justify-center align-center mb-20px">
                    <h6 class="white bold">{{"pdfpages.profilepage.low" | translate}}</h6>
                </div>
                @for(low of profile?.low; track low.id){
                    <h6 class="bold mb-5px" [ngClass]="{'small-text': smallText, 'mini-text': hideHeaders  }">
                        {{low.id}}. {{low.name |translate }}
                    </h6>
                }
            </div>
        </div>
    </div>
    <metabolomics-page-footer [page]="page"></metabolomics-page-footer>
</div>