:host {
    display: block;
    width: 595px;
    height: 842px;
}

.hide{
    display: none;
}

.section-header{
    width: 595px !important;
    height: 30px;
    margin-left: -40px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #29AABC 52.88%);
}

.section-header.homica{
    background: linear-gradient(90deg, #6B4C99 0%, #141428 90%);
}

h5{
    font-size: 8px;
    font-weight: 400;
    color: #383838;
}

.small-text{
    font-size:9px;
    color: #333333;
    margin-bottom: 0 !important;
    font-weight: bold;
}

.mini-text{
    font-size:7px;
}

h6{
    color: #383838;
}

h6.white{
    color: white;
}

.table-header{
    width: 250px;
    height: 30px;
    border-radius: 15px;
    background: #29AABC;
}

.table-header.homica{
    background: #6B4C99;
}

.metabolites-table{
    width: 250px;
    height: 365px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: #024F8433;
}

.metabolites-table.long{
    height: 500px;
}

.metabolites-table.homica{
   background: #6B4C9933;

}




