:host {
    display: block;
    width: 595px;
    height: 842px;
}

.section-header{
    width: 595px !important;
    height: 30px;
    margin-left: -40px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--brand-color, #29AABC) 52.88%);
}

.image-container {
    margin-left: -40px;
}

:host-context(.homica) .section-header{
    background: linear-gradient(90deg, #6B4C99 0%, #141428 90%);
}