<div class="page-container" >
    <metabolomics-page-header ></metabolomics-page-header>
    <div class="page-content">
        <h2 class=" mt-20px dark-blue">{{ 'pdfpages.iggintintroductionpage.title' | translate }}</h2> 
        <h4 class=" mt-3px light-blue subtitle">{{ 'pdfpages.iggintintroductionpage.subtitle' | translate }}</h4> 
        <div class="pt-10px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >{{'pdfpages.iggintintroductionpage.sectiontitle1' | translate}}</h4>
            </div>
        </div>
        <p class="my-15px">
            {{'pdfpages.iggintintroductionpage.text1' | translate}}
            <br>>
            {{'pdfpages.iggintintroductionpage.text2' | translate}}
        </p>
        <div class="pt-10px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >{{'pdfpages.iggintintroductionpage.sectiontitle2' | translate}}</h4>
            </div>
        </div>
        <p class="my-15px">
            {{'pdfpages.iggintintroductionpage.text3' | translate}}
        </p>
        <div class="pt-10px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >{{'pdfpages.iggintintroductionpage.sectiontitle3' | translate}}</h4>
            </div>
        </div>
        <p class="my-15px">
            {{'pdfpages.iggintintroductionpage.text4' | translate}}
            <br>
             {{'pdfpages.iggintintroductionpage.text5' | translate}}
             <br>
            {{'pdfpages.iggintintroductionpage.text6' | translate}}
        </p>
        <div class="flex">
            <div class="w-25 bold red-bg param py-5px">Elevato  (> 30)</div>
            <div class="w-25 bold orange-bg param py-5px">Moderato  (11–30)</div>
            <div class="w-25 bold yellow-bg param py-5px">Lieve  (1–10)</div>
            <div class="w-25 bold green-bg param py-5px">Negativo  (0)</div>
        </div>

        <p class="my-15px">
            {{'pdfpages.iggintintroductionpage.text7' | translate}}
            <span class="bold red">{{'pdfpages.iggintintroductionpage.text8' | translate}}</span>
            {{'pdfpages.iggintintroductionpage.text9' | translate}}
            <span class="bold orange">{{'pdfpages.iggintintroductionpage.text10' | translate}}</span>
            {{'pdfpages.iggintintroductionpage.text11' | translate}}
        </p>
    </div>
    <metabolomics-page-footer [page]="page"></metabolomics-page-footer>
</div>
