<div class="page-container" >
    <metabolomics-page-header ></metabolomics-page-header>
    <div class="page-content">
        <h2 class=" mt-20px dark-blue">Urogenitals<sup>®</sup></h2> 
        <h4 class=" mt-3px light-blue subtitle">Diagnostica completa del Tratto Urogenitale Femminile</h4> 
        <div class="pt-10px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >Indicazioni generali</h4>
            </div>
        </div>
        <p class="my-15px">
            Questo documento accompagna il suo referto UROGENITAL® e ha lo scopo di aiutarla a comprendere ogni sezione del test in modo chiaro e accessibile. Per qualsiasi dubbio relativo al suo stato di salute, le raccomandiamo di rivolgersi sempre al suo medico curante o specialista di riferimento.
        </p>
        <div class="pt-10px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >Cos'è il Test Urogenital</h4>
            </div>
        </div>
        <p class="my-15px">
           UROGENITAL® è un pannello diagnostico avanzato, unico nel suo genere, che analizza in modo completo la microbiologia del tratto urogenitale femminile. In un'unica analisi vengono valutati:<br><br>
            <span class="light-blue">• </span> La flora batterica fisiologica (Lattobacilli protettivi) <br>
            <span class="light-blue">• </span>La presenza di lieviti del genere Candida<br>
            <span class="light-blue">• </span> La flora patogena, inclusi i principali agenti di Infezioni Sessualmente Trasmissibili (IST) <br>
            <span class="light-blue">• </span> La sensibilità dei microorganismi rilevati ad antibiotici, antimicotici e oli essenziali<br>
        </p>
        <p class="my-15px">
            Grazie all'utilizzo combinato di tecniche di biologia molecolare (PCR) e colturali, il test garantisce elevata sensibilità e specificità, consentendo al medico di impostare una terapia mirata ed efficace. 
        </p>
        <div class="pt-10px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >Infezioni uro-genitali a bassa carica</h4>
            </div>
        </div>
        <p class="my-15px">
           La presenza di microrganismi potenzialmente patogeni anche in basse concentrazioni può contribuire, nel tempo, all'alterazione dell'equilibrio del microbiota uro-genitale. Questa condizione può sostenere uno stato di infiammazione cronica di basso grado, compromettere l'integrità della barriera mucosale e determinare una stimolazione persistente del sistema immunitario locale. L'azione prolungata di metaboliti microbici può favorire fenomeni di disbiosi, aumentare la suscettibilità a infezioni opportunistiche e rappresentare un possibile fattore predisponente a disturbi funzionali e condizioni infiammatorie a lungo termine.
    </div>
    <metabolomics-page-footer [page]="page"></metabolomics-page-footer>
</div>