
  <navbar class="navbar h-75px flex justify-end white-gradient px-18px mx-60px align-center" [ngClass]="{'justify-between': showBackButton }">
    <!-- <button class="home-button w-62px h-62px blue-bg border-white-gradient" [routerLink]="'/'" [ngClass]="{'display-none': !showBackButton }">
      <img src="assets/img/go_back.svg" alt="" width="50px" height="41px" class="pt-5px pr-5px">
    </button> -->
      <img src="assets/img/my_report_logo.svg" alt="" width="62px" height="62px" [routerLink]="'/pdf-container'">
      <!--  -->
  </navbar>
