@for(expPage of pages; track $index){
    <div class="page-container" [ngClass]="{'homica': tenant === TenantType.HOMICA}">
    <metabolomics-page-header ></metabolomics-page-header>
    <div class="page-content">
        @for(element of expPage; track $index){
        @if(element.type == 'general'){
            <div class="pt-20px">
                <div class="section-header flex justify-end align-center px-40px" [ngClass]="{'homica': tenant === TenantType.HOMICA}">
                    <h4 class="white" >{{element.title | translate}}</h4>
                </div>
            </div>
            <p class="my-15px">
                {{element.general | translate}}
            </p>
            <hr [ngClass]="{'homica': tenant === TenantType.HOMICA}">
        }
        @if(element.type == 'metabolite'){
                <div class="flex align-center">
                    <div class="circle row-id mr-5px" [ngClass]="{'homica': tenant === TenantType.HOMICA}">{{element.id}}</div>
                    <h4 class="py-15px" [ngClass]="{'homica': tenant === TenantType.HOMICA}">
                        {{element.name | translate}}
                    </h4>
                </div>               
                <p>
                    {{element.base | translate}}
                </p>
                <div class="flex">
                    <div class="arrow-conatiner flex justify-end align-start my-15px px-5px ml-30px">
                        @if(tenant === TenantType.HOMICA){
                            <img src="assets/img/arrow_homica.svg" alt="" width="27">
                        }@else {
                            <img src="assets/img/arrow.svg" alt="" width="27">
                        }                       
                    </div>
                    <div class="my-15px">
                        <p>
                        {{element.critic | translate}}
                        </p>
                    </div>           
                </div>
                <hr [ngClass]="{'homica': tenant === TenantType.HOMICA}">
        }
      }
    </div>
    <metabolomics-page-footer [page]="$index + basicIndex"></metabolomics-page-footer>
    </div>
}
<ending-page></ending-page>