:host {
    display: block;
    width: 595px;
    height: 842.5px;
}

.page-content{
  padding: 0px 40px;
}

.content-block {
  display: block;
}

.section-header{
    width: 595px !important;
    height: 30px;
    margin-left: -40px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #29AABC 52.88%);
}

.section-header.homica{
    background: linear-gradient(90deg, #6B4C99 0%, #141328 90%);
}

h4{
    font-size: 10px;
    font-weight: 700;
    color: #29AABC;
}

h4.homica{
    color: #6B4C99;
}

p{
    font-size: 8px;
    font-weight: 400;
    color: #383838;
}

hr{
    height: 0.5px;
    background: #29abbc83;
    margin: 1px 0;
    border: none;
}

hr.homica{
    background: #6B4C99;
}

.white{
    color: white;
}

.circle{
    width: 12px;
    height: 12px;
    font-size: 8px;
    background-color: #6B4C99;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.circle.homica{
    background-color: #6B4C99;
}

.row-id{
    background-color: #29AABC;
}

.row-id.homica{
    background-color: #6B4C99;
}