:host {
    display: block;
    width: 595px;
    height: 842px;
    background: linear-gradient(180deg, #29AABC 0%, rgba(255, 255, 255, 0) 100%);
}

.homica{
    background: linear-gradient(180deg, #141328 0%, #6B4B99 100%);
}

.page-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: none;
    background-repeat: no-repeat;
    background-position: top 70% right 0;
    background-size: 430px 576px;
    opacity: 0.1;
    pointer-events: none;
}

.w-360px{
    width: 360px;
}

.gap-10px{
    gap: 10px;
}

.gap-5px{
    gap: 5px;
}