:host {
    display: block;
    width: 595px;
    height: 842px;
    background: linear-gradient(180deg, var(--brand-color, #29AABC) 0%, rgba(255, 255, 255, 0) 50%);
}

:host-context(.homica) {
    background: linear-gradient(180deg, #141328 0%, #6B4B99 100%);
}

.director-info {
    color: var(--brand-color, #29AABC);
}

:host-context(.homica) .director-info {
    color: white;
}

.page-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: none;
    background-repeat: no-repeat;
    background-position: top 70% right 0;
    background-size: 430px 576px;
    opacity: 0.1;
    pointer-events: none;
}

.cf-container {
    height: 30px;
    width: 100%;
    background-color: var(--report-color, var(--brand-color, #29AABC));
    border-radius: 15px;
}

.fs-8px{
    font-size: 8px;
}

.w-60{
    width: 60%;
}

.w-360px{
    width: 360px;
}

.gap-10px{
    gap: 10px;
}

.gap-5px{
    gap: 5px;
}
