<div class="page-container pt-85px" [ngClass]="{'homica': tenant === TenantType.HOMICA}">
    @if(tenant === TenantType.HOMICA){
        <div class="logo-container homica-container flex col justify-center align-center" >
            <img src="assets/img/homica_logo.svg" alt="Homica Logo" width="365px" height="257" class="mb-30px">
        </div>          
    }@else {
        <div class="logo-container flex col justify-end">       
            <img src="assets/img/Logo_Valsambro.svg" alt="Valsambro Logo" width="365px" height="257" class="mb-30px">
            <h4 class="light-blue bold">{{'pdfpages.presentation.title' | translate}}</h4>       
        </div>
        <div class="w-360px mx-20px mb-30px mt-15px">
            <h6 class="light-blue">
                {{'pdfpages.presentation.subtitle' | translate}}
            </h6>
        </div>
    }
    <div class="mx-20px mb-5px mt-25px">
        <h6 [ngClass]="{'white': tenant === TenantType.HOMICA, 'light-blue':tenant === TenantType.VALSAMBRO}">
            <span class="bold">{{'pdfpages.presentation.director' | translate}}</span> Alberto Santini
        </h6>
    </div>
    <div class="flex justify-end mx-20px">
        @if(tenant === TenantType.HOMICA){
            <div class="flex col align-end gap-5px">
            <div class="flex align-center gap-10px">
                <h6 class="small-text white" >Homica Health</h6>
                <img src="assets/img/facebook_w_icon.svg" alt="">
            </div>
            <div class="flex align-center gap-10px">
                <h6 class="small-text white">HOMICA HEALTH</h6>
                <img src="assets/img/youtube_w_icon.svg" alt="">
            </div>
            <div class="flex align-center gap-10px">
                <h6 class="small-text white">Homica Health</h6>
                <img src="assets/img/linkedin_w_icon.svg" alt="">
            </div>
            <div class="flex align-end align-center">
                <h6 class="small-text white mr-70px">Viale Bianca Maria 22, 20129, Milano</h6>
                <h6 class="small-text white mr-70px">+39 3927195162</h6>
                <h6 class="small-text white mr-80px">info@homicahealth.com</h6>
                 <div class="flex align-center gap-10px">
                    <h6 class="small-text white">homicahealth</h6>
                    <img src="assets/img/instagram_w_icon.svg" alt="">
                </div>
            </div>
        </div>

        }@else {
            <div class="flex col align-end gap-5px">
            <div class="flex align-center gap-10px">
                <h6 class="small-text light-blue" >Val Sambro Laboratorio Analisi</h6>
                <img src="assets/img/facebook_icon.svg" alt="">
            </div>
            <div class="flex align-center gap-10px">
                <h6 class="small-text light-blue">Laboratorio Analisi Valsambro</h6>
                <img src="assets/img/youtube_icon.svg" alt="">
            </div>
            <div class="flex align-center gap-10px">
                <h6 class="small-text light-blue">Laboratorio Analisi Valsambro</h6>
                <img src="assets/img/linkedin_icon.svg" alt="">
            </div>
            <div class="flex align-end align-center">
                <h6 class="small-text light-blue mr-40px">Via Cairoli, 2 40121 Bologna</h6>
                <h6 class="small-text light-blue mr-90px">05 1240218</h6>
                <h6 class="small-text light-blue mr-80px">valsambro@valsambro.it</h6>
                 <div class="flex align-center gap-10px">
                    <h6 class="small-text light-blue">valsambro_laboratorio_analisi</h6>
                    <img src="assets/img/instagram_icon.svg" alt="">
                </div>
            </div>
        </div>
        }
    </div>
</div>
