
<div class="pt-30px px-55px">
  <div class="px-5px">
    <h1 class="green">My Report</h1>
    <h3 class="green mt-33px">{{ 'home.selectcompany' | translate }}</h3>
    <h4 class="white mt-10px">{{ 'home.selectcompanyexp1' | translate }}</h4>
    <h4 class="white mt-2px">{{ 'home.selectcompanyexp2' | translate }}</h4>
  </div>
  <div class="mt-30px flex justify-between">
    <div class="company-button flex col align-center white-gradient " [routerLink]="'/filemanager/VALSAMBRO'" [hoverImg]="'assets/img/valsambro_icon_hover.svg'">
      <img src="assets/img/valsambro_icon.svg" alt="" class="mt-42px">
      <h2 class="white mt-15px">Valsambro</h2>
      <h4 class="white mt-5px">{{ 'home.selectvalsambro' | translate }}</h4>
    </div>
    <div class="company-button flex col align-center white-gradient " [routerLink]="'/filemanager/HOMICA'" [hoverImg]="'assets/img/homica_icon_hover.svg'">
      <img src="assets/img/homica_icon.svg" alt="" class="mt-42px">
      <h2 class="white mt-15px">Homica Health</h2>
      <h4 class="white mt-5px">{{ 'home.selecthomica' | translate }}</h4>
    </div>

  </div>
</div>
