<div class="page-container" >
    <metabolomics-page-header ></metabolomics-page-header>
    <div class="page-content">
        <h2 class=" mt-20px dark-blue">{{ 'pdfpages.istfecintroductionpage.title' | translate }}</h2> 
        <h4 class=" mt-3px light-blue subtitle">{{ 'pdfpages.istfecintroductionpage.subtitle' | translate }}</h4> 
        <div class="pt-20px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >{{'pdfpages.istfecintroductionpage.sectiontitle1' | translate}}</h4>
            </div>
        </div>
        <p class="my-15px">
            {{'pdfpages.istfecintroductionpage.text1' | translate}} <br>
            {{'pdfpages.istfecintroductionpage.text2' | translate}}
        </p>
        <p class="my-15px">
            {{'pdfpages.istfecintroductionpage.text3' | translate}} <br>
            {{'pdfpages.istfecintroductionpage.text4' | translate}}
        </p>
        <hr> 
        <div class="flex w-100 justify-center pt-20px">
            <img src="assets/img/istamina_fecale.svg" alt="" class=""> 
        </div>   
    </div>
    <metabolomics-page-footer></metabolomics-page-footer>
</div>
