 <div class="page-container">
    <metabolomics-page-header ></metabolomics-page-header>
    <div class="page-content" >
         <div class="pt-10px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >Descrizioni cliniche dettagliate</h4>
            </div>
        </div>
        <p class=" my-20px">
          Per ciascuna citochina vengono riportati il meccanismo d'azione, le sorgenti cellulari e ruolo nella risposta immunitaria.
        </p>
<!-- 1 -->
        <div class="container-blue">
            <div class="px-20px py-15px flex align-center">
              <div class="circle mr-3px">1</div>  
              <h5 class="white name">Interleuchina 1 BETA (IL-1BETA)</h5>            
            </div>
        </div>
        <p class="mx-20px my-3px">
          Pro-infiammatoria
        </p>
        <div class="container-blue">
            <div class="px-20px py-6px flex align-center">
              <h5 class="white">Descrizione</h5>            
            </div>
        </div>
        <p class="mx-20px my-5px description">
          È una delle principali citochine pro-infiammatorie dell'immunità innata. Viene prodotta prevalentemente da monociti e macrofagi in risposta a stimoli di pericolo come infezioni batteriche, virus, tossine o danno tissutale.  <br>
          Agisce sull'ipotalamo inducendo febbre, stimola la produzione di altre citochine infiammatorie e favorisce il reclutamento dei neutrofili nei siti di infezione. Livelli elevati si riscontrano in artrite reumatoide e gotta, malattie autoinfiammatorie, sindrome metabolica e diabete di tipo 2, aterosclerosi e malattie cardiovascolari, patologie neurodegenerative (Alzheimer, Parkinson) e stati settici. È anche implicata nella fisiopatologia della depressione maggiore associata a infiammazione cronica.
        </p>
        <hr class="w-100">
<!-- 2 -->
        <div class="container-blue mt-20px">
            <div class="px-20px py-15px flex align-center">
              <div class="circle mr-3px">2</div>  
              <h5 class="white name">Interleuchina 2 (IL-2)</h5>            
            </div>
        </div>
        <p class="mx-20px my-3px">
          Pro-infiammatoria
        </p>
        <div class="container-blue">
            <div class="px-20px py-6px flex align-center">
              <h5 class="white">Descrizione</h5>            
            </div>
        </div>
        <p class="mx-20px my-5px description">
           È il principale fattore di crescita dei linfociti T. Prodotta soprattutto dai linfociti T helper (CD4+) dopo l'attivazione antigenica, stimola la proliferazione clonale dei linfociti T effettori e T regolatori, e potenzia l'attività dei linfociti NK. Svolge un ruolo cruciale nella memoria immunologica e nella sorveglianza antitumorale.<br>
            Valori ridotti sono associati a immunodepressione, infezioni croniche da HIV, terapie immunosoppressive e deficit congeniti dell'immunità cellulo-mediata. Valori elevati si osservano in linfomi T, leucemie a cellule T, rigetto acuto di trapianto e alcune malattie autoimmuni in fase attiva. In oncologia, l'IL-2 ricombinante è utilizzata come immunoterapia nel melanoma metastatico e nel carcinoma renale.
        </p>
        <hr class="w-100">
<!-- 3 -->
        <div class="container-blue mt-20px">
            <div class="px-20px py-15px flex align-center">
              <div class="circle mr-3px">3</div>  
              <h5 class="white name">Interleuchina 6 (IL-6)</h5>            
            </div>
        </div>
        <p class="mx-20px my-3px">
          Pleiotropica
        </p>
        <div class="container-blue">
            <div class="px-20px py-6px flex align-center">
              <h5 class="white">Descrizione</h5>            
            </div>
        </div>
        <p class="mx-20px my-5px description">
         Citochina pleiotropica con funzioni sia pro- che antinfiammatorie a seconda del contesto, con ruolo centrale nella risposta infiammatoria acuta e cronica. Promuove la differenziazione dei linfociti B in plasmacellule e la maturazione dei neutrofili. Prodotta da macrofagi, cellule endoteliali, fibroblasti e adipociti, stimola a livello epatico la sintesi delle proteine della fase acuta (PCR, fibrinogeno, amiloide A) e orienta la risposta verso il profilo Th17. Elevata in artrite reumatoide (è uno degli indici di attività di malattia più sensibili), lupus eritematoso sistemico, malattia di Castleman, sepsi e shock settico Valori cronicamente alti si associano a cachessia neoplastica, anemia da malattia cronica, osteoporosi e rischio cardiovascolare aumentato. </p>
        <hr class="w-100">
    </div>
    <metabolomics-page-footer [page]="page"></metabolomics-page-footer>
</div>