<div class="page-container " [ngClass]="{'homica': tenant === TenantType.HOMICA}">
    <div class="logo-container flex col justify-end" [ngClass]="{'homica-container': tenant === TenantType.HOMICA}">
        
    </div>    
    <div class="flex justify-end mx-20px my-100px ">
        @if(tenant === TenantType.HOMICA){
            <div class="w-100 flex col align-end gap-5px">
            <div class="flex align-center gap-10px">
                <h6 class="small-text white" >Homica Health</h6>
                <img src="assets/img/facebook_w_icon.svg" alt="">
            </div>
            <div class="flex align-center gap-10px">
                <h6 class="small-text white">HOMICA HEALTH</h6>
                <img src="assets/img/youtube_w_icon.svg" alt="">
            </div>
            <div class="flex align-center gap-10px">
                <h6 class="small-text white">Homica Health</h6>
                <img src="assets/img/linkedin_w_icon.svg" alt="">
            </div>
            <div class="w-100 flex align-center justify-between">
                <h6 class="small-text white">Viale Bianca Maria 22, 20129, Milano</h6>
                <h6 class="small-text white">+39 3927195162</h6>
                <h6 class="small-text white">info@homicahealth.com</h6>
                 <div class="flex align-center gap-10px">
                    <h6 class="small-text white">homicahealth</h6>
                    <img src="assets/img/instagram_w_icon.svg" alt="">
                </div>
            </div>
        </div>

        }@else {
            <div class="w-100 flex col align-end gap-5px">
            <div class="flex align-center gap-10px">
                <h6 class="small-text light-blue" >Val Sambro Laboratorio Analisi</h6>
                <img src="assets/img/facebook_icon.svg" alt="">
            </div>
            <div class="flex align-center gap-10px">
                <h6 class="small-text light-blue">Laboratorio Analisi Valsambro</h6>
                <img src="assets/img/youtube_icon.svg" alt="">
            </div>
            <div class="flex align-center gap-10px">
                <h6 class="small-text light-blue">Laboratorio Analisi Valsambro</h6>
                <img src="assets/img/linkedin_icon.svg" alt="">
            </div>
            <div class="w-100 flex align-center justify-between">
                <h6 class="small-text light-blue ">Via Cairoli, 2 40121 Bologna</h6>
                <h6 class="small-text light-blue">051 240218</h6>
                <h6 class="small-text light-blue">valsambro@valsambro.it</h6>
                 <div class="flex align-center gap-10px">
                    <h6 class="small-text light-blue">valsambro_laboratorio_analisi</h6>
                    <img src="assets/img/instagram_icon.svg" alt="">
                </div>
            </div>
        </div>
        }
    </div>
</div>
