:host {
    display: block;
    width: 595px;
    height: 842px;
}

p {
    font-weight: 400;
    font-size: 9px;
    color: #383838;
    line-height: 14px;
}

.subtitle{
    font-weight: 500;
}

.section-header{
    width: 595px !important;
    height: 30px;
    margin-left: -40px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #29AABC 52.88%);
}

.car-header{
    background-color: #29AABC;
    border-radius: 5px;
    height: 20px;
}

hr{
    height: 0.5px;
    background: #29abbc83;
    margin: 1px 0;
    border: none;
}