<div class="page-container" >
    <metabolomics-page-header ></metabolomics-page-header>
    <div class="page-content">
        <h2 class=" mt-20px dark-blue">{{ 'pdfpages.igafecintroductionpage.title' | translate }}</h2>
        <h4 class=" mt-3px light-blue subtitle">{{ 'pdfpages.igafecintroductionpage.subtitle' | translate }}</h4>
        <div class="pt-20px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >{{'pdfpages.igafecintroductionpage.sectiontitle1' | translate}}</h4>
            </div>
        </div>
        <p class="my-15px">
            {{'pdfpages.igafecintroductionpage.text1' | translate}}
        </p>
        <div class="pt-20px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >{{'pdfpages.igafecintroductionpage.sectiontitle2' | translate}}</h4>
            </div>
        </div>
        <p class="mt-15px">
            {{'pdfpages.igafecintroductionpage.text2' | translate}}
        </p>
        <h4 class="light-blue bold mt-15px">
            {{'pdfpages.igafecintroductionpage.fact1' | translate}}
        </h4>
        <p class="mt-1px">
            {{'pdfpages.igafecintroductionpage.text3' | translate}}
        </p>
        <h4 class="light-blue bold mt-15px">
            {{'pdfpages.igafecintroductionpage.fact2' | translate}}
        </h4>
        <p class="mt-1px">
            {{'pdfpages.igafecintroductionpage.text4' | translate}}
        </p>
    </div>
    <metabolomics-page-footer [page]="page"></metabolomics-page-footer>
</div>
