<div class="page-container" >
    <metabolomics-page-header ></metabolomics-page-header>
    <div class="page-content">
            <div class="pt-20px">
                <div class="section-header flex justify-end align-center px-40px">
                    <h4 class="white" >{{'pdfpages.istfecexplanationpage.sectiontitle1' | translate}}</h4>
                </div>
            </div>
            <p class="my-15px">
                {{'pdfpages.istfecexplanationpage.text1' | translate}} <br>
                {{'pdfpages.istfecexplanationpage.text2' | translate}}
            </p>
            <p class="mt-15px">
                {{'pdfpages.istfecexplanationpage.text3' | translate}} <br>
                {{'pdfpages.istfecexplanationpage.text4' | translate}}
            </p>  
            <div class="pt-20px">
                <div class="section-header flex justify-end align-center px-40px">
                    <h4 class="white" >{{'pdfpages.istfecexplanationpage.sectiontitle2' | translate}}</h4>
                </div>
            </div>
            <p class="mt-15px">
                {{'pdfpages.istfecexplanationpage.text5' | translate}}
            </p>  
            <h4 class="light-blue bold mt-15px">
                {{'pdfpages.istfecexplanationpage.fact1' | translate}}
            </h4>
            <p class="mt-3px">
                {{'pdfpages.istfecexplanationpage.text6' | translate}}
            </p> 
            <h4 class="light-blue bold mt-15px">
                {{'pdfpages.istfecexplanationpage.fact2' | translate}}
            </h4>
            <p class="mt-3px">
                {{'pdfpages.istfecexplanationpage.text7' | translate}}
            </p> 
            <h4 class="light-blue bold mt-15px">
                {{'pdfpages.istfecexplanationpage.fact3' | translate}}
            </h4>
            <p class="mt-3px">
                {{'pdfpages.istfecexplanationpage.text8' | translate}}
            </p>  
            <p class="mt-15px">
                {{'pdfpages.istfecexplanationpage.text9' | translate}}
            </p> 
            <div class="pt-20px">
                <div class="section-header flex justify-end align-center px-40px">
                    <h4 class="white" >{{'pdfpages.istfecexplanationpage.sectiontitle3' | translate}}</h4>
                </div>
            </div>
            <p class="mt-15px">
                {{'pdfpages.istfecexplanationpage.text10' | translate}}
            </p> 
            <p class="mt-15px">
                {{'pdfpages.istfecexplanationpage.text11' | translate}}
            </p> 
            <p class="mt-15px">
                {{'pdfpages.istfecexplanationpage.text12' | translate}}
            </p> 
    </div>
    <metabolomics-page-footer></metabolomics-page-footer>
</div>