<div class="page-container" >
    <metabolomics-page-header ></metabolomics-page-header>
    <div class="page-content">
        <h2 class=" mt-20px dark-blue">{{ 'pdfpages.gutsysintroductionpage.title' | translate }}<sup>®</sup></h2> 
        <h4 class=" mt-3px light-blue subtitle">{{ 'pdfpages.gutsysintroductionpage.subtitle' | translate }}</h4> 
        <div class="pt-10px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >{{'pdfpages.gutsysintroductionpage.sectiontitle1' | translate}}</h4>
            </div>
        </div>
        <p class="my-15px">
            {{'pdfpages.gutsysintroductionpage.text1' | translate}} <br><br>
            {{'pdfpages.gutsysintroductionpage.text2' | translate}}
        </p>
        <div class="pt-10px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >{{'pdfpages.gutsysintroductionpage.sectiontitle2' | translate}}</h4>
            </div>
        </div>
        <p class="my-15px">
            {{'pdfpages.gutsysintroductionpage.text3a' | translate}}<strong class="light-blue">{{ 'pdfpages.gutsysintroductionpage.title' | translate }}</strong>{{'pdfpages.gutsysintroductionpage.text3' | translate}} <br><br>
            {{'pdfpages.gutsysintroductionpage.text4' | translate}} <br><br>
            <span class="light-blue">• </span>{{'pdfpages.gutsysintroductionpage.text5' | translate}} <br>
            <span class="light-blue">• </span>{{'pdfpages.gutsysintroductionpage.text6' | translate}} <br>
            <span class="light-blue">• </span>{{'pdfpages.gutsysintroductionpage.text7' | translate}} <br>
            <span class="light-blue">• </span>{{'pdfpages.gutsysintroductionpage.text8' | translate}} <br>
            <span class="light-blue">• </span>{{'pdfpages.gutsysintroductionpage.text9' | translate}} <br>
        </p>
        <div class="pt-10px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >{{'pdfpages.gutsysintroductionpage.sectiontitle3' | translate}}</h4>
            </div>
        </div>
        <p class="my-15px">
            {{'pdfpages.gutsysintroductionpage.text10' | translate}} <br>
        </p>
    </div>
    <metabolomics-page-footer [page]="page"></metabolomics-page-footer>
</div>
