 <div class="page-container">
    <metabolomics-page-header ></metabolomics-page-header>
    <div class="page-content" >
<!-- 1 -->
        <div class="container-blue mt-20px">
            <div class="px-20px py-15px flex align-center">
              <div class="circle mr-3px">4</div>  
              <h5 class="white name">Interleuchina 10 (IL-10)</h5>            
            </div>
        </div>
        <p class="mx-20px my-3px">
           Antinfiammatoria
        </p>
        <div class="container-blue">
            <div class="px-20px py-6px flex align-center">
              <h5 class="white">Descrizione</h5>            
            </div>
        </div>
        <p class="mx-20px my-5px description">
             È la principale citochina immunoregolatoria e antinfiammatoria. Prodotta da linfociti T regolatori, macrofagi e cellule dendritiche, inibisce la sintesi delle citochine pro-infiammatorie (IL-1, IL-6, TNF-α), e riduce l'espressione delle molecole costimolatorie, proteggendo i tessuti dal danno eccessivo durante le fasi acute. È fondamentale per riportare l'organismo alla normalità dopo un'infezione.<br>
             Valori cronicamente bassi sono stati correlati all’infiammazione cronica intestinale (morbo di Crohn, colite ulcerosa), malattie autoimmuni e dermatiti atopiche. Valori elevati in modo patologico si riscontrano invece in infezioni croniche (HIV, epatite C, leishmaniosi), dove l'eccesso di IL-10 sopprime la risposta immunitaria favorendo la persistenza del patogeno. È anche elevata in alcuni linfomi B (linfoma diffuso a grandi cellule B) dove contribuisce all'immunoevasione tumorale, e nella sepsi come meccanismo compensatorio ma spesso disfunzionale.
        </p>
        <hr class="w-100">
<!-- 2 -->
        <div class="container-blue mt-20px">
            <div class="px-20px py-15px flex align-center">
              <div class="circle mr-3px">5</div>  
              <h5 class="white name">Interleuchina 12 (IL-12)</h5>            
            </div>
        </div>
        <p class="mx-20px my-3px">
          Pro-infiammatoria
        </p>
        <div class="container-blue">
            <div class="px-20px py-6px flex align-center">
              <h5 class="white">Descrizione</h5>            
            </div>
        </div>
        <p class="mx-20px my-5px description">
           Prodotta principalmente da macrofagi e cellule dendritiche in risposta a patogeni intracellulari. Rappresenta il principale ponte tra immunità innata e adattativa: Stimola i linfociti T naive a differenziarsi in Th1 e potenzia la produzione di IFN-γ, attivando i linfociti NK citotossici.<br>
           Cruciale nella difesa contro infezioni batteriche e virali croniche. Valori elevati si osservano in malattia di Crohn, psoriasi, sclerosi multipla e artrite reumatoide in fase attiva. È anche implicata nella patogenesi del rigetto di trapianto e nella risposta immunitaria antitumorale, dove la sua carenza favorisce l'evasione delle cellule neoplastiche. 
        </p>
        <hr class="w-100">
<!-- 3 -->
        <div class="container-blue mt-20px">
            <div class="px-20px py-15px flex align-center">
              <div class="circle mr-3px">6</div>  
              <h5 class="white name">Interleuchina 17A (IL-17A)</h5>            
            </div>
        </div>
        <p class="mx-20px my-3px">
          Pro-infiammatoria
        </p>
        <div class="container-blue">
            <div class="px-20px py-6px flex align-center">
              <h5 class="white">Descrizione</h5>            
            </div>
        </div>
        <p class="mx-20px my-5px description">
         Citochina effettrice del profilo Th17, fondamentale nella difesa delle superfici epiteliali contro batteri extracellulari e funghi. Stimola la produzione di chemochine neutrofiliche, potenzia la risposta mucosale e promuove la riparazione tissutale.. È una citochina che si occupa soprattutto di difendere la pelle, i polmoni e l'intestino, cioè le superfici a contatto con l'esterno. <br>
         Cronicamente elevata in psoriasi a placche (è uno dei biomarcatori più specifici), spondilite anchilosante e spondiloartropatie sieronegative, artrite psoriasica, malattia infiammatoria intestinale (in particolare morbo di Crohn), sclerosi multipla e asma neutrofilica. Valori ridotti o disfunzione del pathway Th17 si associano a candidiasi mucocutanea cronica e aumentata suscettibilità a infezioni fungine ricorrenti.
        </p>
         <hr class="w-100">
    </div>
    <metabolomics-page-footer [page]="page"></metabolomics-page-footer>
</div>
