<div class="page-container" [ngClass]="{'homica': tenant === TenantType.HOMICA}">
    <metabolomics-page-header ></metabolomics-page-header>
    <div class="page-content" >
        @if(pageId === 0){
            <h2 class="mt-10px" [ngClass]="{'dark-purple': tenant === TenantType.HOMICA, 'dark-blue':tenant === TenantType.VALSAMBRO}">{{"pdfpages.metabolomicstable.tablepage.title" | translate}}</h2>
            <h4 class="mt-5px" [ngClass]="{'light-purple': tenant === TenantType.HOMICA, 'light-blue':tenant === TenantType.VALSAMBRO}">{{"pdfpages.metabolomicstable.tablepage.subtitle" | translate}}</h4>
        }
        @for(table of tables; track table.groupId){
            @if(!!table.sectionTitle){
                <div class="section-header flex justify-end align-center mt-20px px-40px" [ngClass]="{'homica': tenant === TenantType.HOMICA}">
                    <h4 class="white">{{table.sectionTitle | translate}}</h4>
                </div>
            }
            <metabolomics-table [data]="table" [type]="customer?.type"></metabolomics-table>       
        }
        @if(pageId === 4){  
            <div class="flex col mt-25px">
                <h6 >{{"pdfpages.metabolomicstable.tablepage.section1" | translate}}</h6>
                <h6>{{"pdfpages.metabolomicstable.tablepage.section2" | translate}}</h6>
                <h6 class="mt-15px">{{"pdfpages.metabolomicstable.tablepage.section3" | translate}}</h6>
                <h6 class="mt-15px">{{"pdfpages.metabolomicstable.tablepage.section4" | translate}} {{customer?.refDate | dateTransform}}</h6>
            </div>        
        }
    </div>
    <metabolomics-page-footer [page]="page"></metabolomics-page-footer>
</div>