
.footer-container{
    height: 41px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--brand-color, #29AABC) 52.88%);
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20px;
}

:host-context(.homica) .footer-container {
    background: linear-gradient(90deg, #6B4C99 0%, #141328 90%);
}